.account {
  header {
    height: 80px;
    @media only screen and (max-width: 1024px) {
      position: absolute;
    }
    nav {
      margin: 0;
    }
  }
  main {
    position: relative;
    background-color: #f0f3f8;
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: #604ab5;
    }
    .container {
      @include flex(row, flex-start, flex-start);
      padding: 0 40px;
      box-sizing: border-box;
      @media only screen and (max-width: 1024px) {
        padding: 0;
        flex-direction: column;
      }
    }
  }
  &__aside {
    @include flex(column, flex-start, center);
    position: relative;
    max-width: 220px;
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }
  &__user {
    text-align: center;
    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
    }
    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      color: #fff;
      font-family: 'Poppins';
    }
  }
  &__heading {
    text-align: center;
    font-family: 'Barlow';
    &__status {
      font-size: 12px;
      font-weight: 500;
      margin-top: -10px;
      margin-bottom: 40px;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      color: rgba(#fff, 0.54);
    }
    p {
      font-size: 36px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: -1.4px;
      margin: 10px 0 30px;
      color: #fff;
    }
  }
  &__address {
    li {
      border-bottom: 1px solid rgba(#707070, .1);
      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        font-family: 'Poppins';
        color: $purple;
        margin-bottom: 8px;
        a {
          margin-left: 26px;
        }
      }
      p {
        font-size: 14px;
        line-height: 18px;
        font-family: 'Barlow';
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
  &__table {
    width: calc(100% - 220px);
    border-radius: 6px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
    height: 620px;
    margin-top: 10px;
    position: relative;
    margin-left: 42px;
    overflow-y: auto;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
      min-height: 500px;
      margin-left: 0;
      z-index: 9;
    }
    .heading-table {
      margin: 0;
      padding: 16px 20px;
      border-bottom: 1px solid rgba(#707070, .1);
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    tbody {
      tr {
        height: 70px;
      }
    }
    th {
      font-size: 12px;
      line-height: 16px;
      font-family: 'Barlow';
      color: rgba(0, 0, 0, 0.54);
      font-weight: 400;
      padding: 12px;
      text-align: left;
      padding-left: 20px;
      @media only screen and (max-width: 1024px) {
        padding-left: 0;
      }
      &:first-of-type {
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
      &:nth-of-type(2) {
        @media only screen and (max-width: 1024px) {
          padding-left: 8px;
        }
      }
    }
    tr {
      &.table-waiting {
        background-color: rgba($green, .1);
      }
    }
    td {
      color: rgba(0, 0, 0, 0.6);
      padding-left: 20px;
      @media only screen and (max-width: 1024px) {
        padding-left: 0;
      }
      &.table-date {
        font-size: 14px;
        line-height: 17px;
        font-family: 'Barlow';
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
      &.table-name {
        font-size: 18px;
        line-height: 22px;
        font-family: 'Barlow';
        @media only screen and (max-width: 1024px) {
          font-size: 14px;
          padding-left: 8px;
        }
      }
      &.table-price {
        font-size: 14px;
        font-weight: 500;
        b {
          font-size: 18px;
          line-height: 17px;
          @media only screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
      &.table-status {
        text-align: center;
        p {
          font-weight: 700;
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 0;
          @media only screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }
        span {
          font-size: 12px;
          line-height: 14px;
          color: rgba(0, 0, 0, 0.32);
          font-family: 'Barlow';
        }
      }
      &.table-button {
        a {
          width: 130px;
          min-width: 130px;
          margin: 0 auto;
          @media only screen and (max-width: 1024px) {
            width: 80px;
            min-width: auto;
            font-size: 12px;
            padding: 0 4px;
          }
        }
      }
    }
  }
  .button--primary {
    @include flex(row, center, center);
    min-width: 190px;
    height: 32px;
  }
}
