.blog {
  &__list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin-top: 40px;
  }

  &__item {
    background-color: #fff;
    border: 1px solid rgba(#000, .1);
    padding: 30px;
    width: calc(100% - 2px);
    max-width: 330px;
    box-sizing: border-box;
    transition: all .2s ease;
    position: relative;

    &:hover {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
      z-index: 1;
      border-color: transparent;
    }

    img {
      height: 168px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    h3 {
      margin: 20px 0;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;

      a {
        color: rgba(0, 0, 0, 0.75);

        &:hover {
          color: $purple;
        }
      }
    }

    p {
      font-family: Barlow;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }

    div {
      @include flex(row, space-between, center);
      margin-top: 20px;

      a {
        text-decoration: underline;
        font-family: Barlow;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
      }

      span {
        font-family: Barlow;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &__single {
    max-width: 100% !important;
    margin-top: -130px !important;
    @media only screen and (max-width: 1024px) {
      padding: 0!important;
    }

    &:before {
      opacity: .9;
    }

    &__image {
      height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @media only screen and (max-width: 1024px) {
        height: auto;
        min-height: 300px;
      }
    }

    &__content {
      position: relative;
      background: #fff;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      margin-top: -250px;
      padding: 50px;
      box-sizing: border-box;
      border: 1px solid rgba(#000, .1);
      @media only screen and (max-width: 1024px) {
        margin-top: -10px;
        padding: 20px;
      }

      .back {
        left: -26px;
        top: 26px;
        position: absolute;
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }

      h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        margin-top: 0;
        @media only screen and (max-width: 1024px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      p {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        font-family: Barlow;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        margin: 30px 0;
        max-width: 100%!important;
        img {
          max-width: calc(50% - 8px);
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }

      div {
        margin: 20px 0;
        span {
          font-family: Barlow;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}