.button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 2px 14px;
  border: 1px solid rgba(#fff, .3);
  border-radius: 44px;
  &--primary {
    background: $primary;
    border-color: $primary;
    &:hover {
      background: darken($primary, 5%);
    }
  }
  &--white {
    background: #fff;
    color: $primary;
    &:hover {
      background: darken(#fff, 5%);
    }
  }
  &--large {
    @include flex(row, center, center);
    border-radius: 6px;
    width: 100%;
    height: 42px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
  }
  &--disabled {
    pointer-events: none;
    opacity: .5;
  }
  &--image {
    @include flex(row, space-around, center);
    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
      object-position: center;
    }
  }
  
  &--label {
    border-radius: 12px;
    padding: 2px 10px;
    color: rgba(0, 0, 0, 0.32);
    border-color: rgba(0, 0, 0, 0.32);
    font-size: 12px;
    line-height: 18px;
    font-family: 'Barlow';
    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.32);
      border-color: transparent;
    }
  }
}
