.checkbox-container {
  display: block;
  position: relative;
  padding-left: 28px;
  margin: 16px 0 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container p {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  font-family: 'Barlow';
  color: rgba(112, 112, 112, 0.75);
  margin-top: 0 !important;
  a {
    color: rgba(112, 112, 112, 0.75);
    text-decoration: underline;
    display: inline;
    margin: 0;
  }
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px!important;
  width: 18px!important;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  opacity: 0.6;
  border-radius: 2px;
  transition: all .2s ease;
}

.checkbox-container:hover input ~ .checkmark {
  opacity: 1;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $purple;
  opacity: 1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}