.currency-list {
  @include flex(row, space-around, center);
  display: inline-flex;
  height: 70px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(255, 255, 255);
  margin: 40px 0;
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  li {
    @include flex(column, center, center);
    width: 66px;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(#000, .54);
    text-align: center;
    cursor: pointer;
    font-family: 'Barlow';
    transition: all .2s ease;
    border-radius: 6px;

    span {
      font-size: 12px;
      color: rgba(#000, .32);
      font-weight: 500;
      line-height: 14px;
      display: block;
    }

    &:hover {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    }

    &.active {
      background-color: $secondary;
      color: #fff;

      span {
        color: #fff;
      }
    }
  }
}

.buy-directly {
  @include flex(row, flex-start, flex-start);
  text-align: left;
  padding: 0 40px;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }

  ul {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;

    li {
      @include flex(row, center, center);
      width: calc(33.3333% - 12px);
      height: 66px;
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      transition: all .2s ease;
      margin: 6px;
      box-sizing: border-box;
      cursor: pointer;
      @media only screen and (max-width: 1024px) {
        width: calc(50% - 16px);
      }

      &:hover {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }

  .col-small {
    width: 360px;
    min-width: 360px;
    padding-right: 58px;
    margin-right: 58px;
    border-right: 1px solid rgba(#000, .1);
    @media only screen and (max-width: 1024px) {
      width: 100%;
      margin-bottom: 80px;
      min-width: 100%;
    }

    label {
      input {
        width: 100%;
        padding-left: 0;
        text-indent: 15px;
      }
      span {
        @media only screen and (max-width: 1024px) {
          left: 150px;
        }
      }
    }

    .button {
      margin-bottom: 24px;
      box-sizing: border-box;
    }

    p {
      margin: 12px 0;
    }
  }
}

.gift-cards {
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: 1024px) {
    padding: 0;
  }

  &__logo {
    width: 250px;
    height: auto;
    margin: 0 auto 24px;
    display: block;
    @media only screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }

  .absolute {
    margin-top: 40px;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  .container {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
    }

    ul {
      @include flex(row, center, center);
      margin-top: 28px;
      @media only screen and (max-width: 1024px) {
        flex-direction: column;
        width: 100%;
      }

      li {
        width: calc(33.3333%);
        position: relative;
        &:last-of-type {
          &:after {
            display: none;
          }
        }
        &:after {
          content: "";
          background-color: rgba(0, 0, 0, 0.1);
          width: 100%;
          height: 3px;
          position: absolute;
          left: calc(50% + 15px);
          top: 14px;
          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }
        @media only screen and (max-width: 1024px) {
          @include flex(row, flex-start, center);
          width: 100%;
        }

        h3 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.29;
          text-align: center;
          color: rgba(0, 0, 0, 0.75);
          @media only screen and (max-width: 1024px) {
            min-width: 100px;
          }
        }

        span {
          @include flex(row, center, center);
          width: 30px;
          height: 30px;
          background: $secondary;
          border-radius: 50%;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          color: #fff;
          margin: 0 auto;
          @media only screen and (max-width: 1024px) {
            margin-right: 20px;
            min-width: 30px;
          }
        }

        p {
          margin: 12px 0;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          font-family: 'Barlow';
          color: rgba(#000, .54);
          @media only screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }

    div {
      margin-top: 20px;
      p {
        margin: 12px 0;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        font-family: Barlow;
        color: rgba(0,0,0,.54);
      }
    }

    a {
      @include flex(row, center, center);
      max-width: 290px;
      margin: 18px auto 0;

      &:hover {
        margin: 13px auto 5px;
      }

      img {
        width: 12px;
        height: 12px;
        margin-left: 12px;
      }
    }
  }
}

.social-signup {
  margin-top: 32px;

  p {
    margin-bottom: 12px !important;
  }

  a {
    color: rgba(#000, .54);
    width: calc(50% - 3px);
    height: 48px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  }
}

.payments-methods {
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(255, 255, 255);
  min-width: 350px;
  @media only screen and (max-width: 1024px) {
    min-width: 100%;
  }

  li {
    @include flex(row, flex-start, center);
    border-bottom: 1px solid rgba(#000, .1);
    height: 70px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background-color: darken(#fff, 5%);

      div {
        img {
          right: 12px;
        }
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }

    img {
      max-width: 32px;
      max-height: 30px;
      object-fit: contain;
      object-position: center;
      margin-right: 20px;
    }

    div {
      position: relative;

      h2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media only screen and (max-width: 1024px) {
          max-width: 80%;
        }

        span {
          border-radius: 12px;
          border: 1px solid #000;
          font-size: 10px;
          font-weight: 500;
          line-height: 10px;
          padding: 1px 6px;
          margin-left: 8px;
          display: inline-block;

          &.active {
            color: $green;
            border-color: $green;
          }

          &.soon {
            color: rgba(0, 0, 0, 0.32);
            border-color: rgba(0, 0, 0, 0.32);
          }
        }
      }

      p {
        max-width: 185px;
      }

      img {
        width: 6px;
        height: 10px;
        object-fit: contain;
        object-position: center;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
    }
  }
}

.question-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  font-family: 'Poppins';

  &__container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 490px;
    height: 360px;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }

  span {
    font-size: 22px;
    line-height: 33px;
  }

  ul {
    max-width: 244px;
    margin: 0 auto;
  }

  p {
    color: $primary;
    margin: 0 0 30px 0;
  }

  li {
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      color: $primary;
    }
  }

  p,
  li {
    font-size: 44px;
    font-weight: 700;
    line-height: 65px;
  }
}

.coin-value {
  span {
    font-family: 'Barlow';
    font-size: 52px;
    font-weight: bold;
    line-height: 62px;
    color: $purple;

    strong {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .progress-line {
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    height: 4px;
    margin-top: 8px;

    span {
      position: absolute;
      left: 0;
      top: 0;
      background: $primary;
      border-radius: 6px;
      height: 4px;
    }
  }
}

.success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#5a9500, .7);
  color: #fff;
  text-align: center;
  font-family: 'Poppins';

  &__container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 600px;
    height: 334px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
      padding-bottom: 32px;
    }
  }

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 14px;
    height: 14px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .modal-header {
    border-bottom: 1px solid rgba(#000, .1);
    padding-bottom: 20px;
    margin-bottom: 28px;

    p {
      margin-top: 4px;
    }
  }

  .modal-body {
    p {
      margin-top: 4px;
    }
  }

  .heading-modal {
    margin-bottom: 0;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .heading-submodal {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
  }

  p {
    color: rgba(0, 0, 0, 0.54);

    span {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  ul {
    @include flex(row, space-around, center);

    li {
      width: 33.3333%;
      color: rgba(0, 0, 0, 0.54);

      span {
        font-family: Barlow;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
      }
    }
  }
}

.accordion {
  margin: 20px 0;
  border: 1px solid rgba(#000, .1);

  li {
    min-height: 60px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(#000, .1);
    background-color: #fff;
    transition: all .2s ease;
    position: relative;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
      z-index: 1;

      h3 {
        color: $purple;
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }

    h3 {
      @include flex(row, space-between, center);
      height: 60px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      transition: all .2s ease;
      line-height: 17px;
      margin: 0;
      color: rgba(0, 0, 0, 0.75);

      img {
        width: 10px;
        height: 5px;
        filter: invert(1);
        opacity: .75;
        transition: all .2s ease;
      }
    }

    p {
      padding-bottom: 30px;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }

    &.opened {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);

      h3 {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.contact-form {
  margin-top: 60px;

  textarea {
    height: auto;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
  }

  .select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  select {
    width: calc(100% + 4px);
    margin-left: -1px;
  }

  .select__container {
    position: relative;

    span {
      position: absolute;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #fff;
      top: 0;
      padding: 0;
    }
  }

  .grid-block {
    max-width: 100%;
    margin-top: 26px !important;
  }
}
