.cv {
  background: #fff;
  &__block {
    justify-content: space-around;
    margin:80px 0;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .heading {
      line-height: 50px;
      @media only screen and (max-width: 1024px) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    div {
      max-width: 410px;
      @media only screen and (max-width: 1024px) {
        order: 2;
        max-width: 100%;
      }
      p {
        font-size: 20px;
        font-family: 'Barlow';
        line-height: 28px;
        letter-spacing: -0.4px;
        margin-top: 20px;
        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          margin-top: 0;
        }
      }
    }
    img {
      @media only screen and (max-width: 1024px) {
        order: 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        max-width: 300px;
      }
    }
  }
}