@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700|Poppins:300,400,500,600,700|Roboto+Condensed:400,700');

// font-family: 'Poppins', sans-serif;
// font-family: 'Barlow Semi Condensed', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

.heading {
  @include flex(column, center, center);
  font-size: 44px;
  font-weight: 700;
  line-height: 65px;
  @media only screen and (max-width: 1024px) {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }
}

.heading--secondary {
  font-size: 20px;
  font-weight: 600;
  line-height: 17px;
  color: $secondary;
}

.heading--small {
  @include flex(row, space-between, center);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: rgba(#000, .75);
  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    font-family: 'Barlow';
    color: rgba(112, 112, 112, 0.75);
    a {
      color: $primary;
    }
    img {
      width: 12px;
      height: 12px;
      margin-left: 6px;
      margin-bottom: -2px;
    }
  }
}

.heading-lite {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  @media only screen and (max-width: 1024px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.subheading {
  font-size: 14px;
  font-family: 'Barlow';
  line-height: 16px;
  color: rgba(#000, .54);
}

.heading-bg {
  font-size: 122px;
  line-height: 184px;
  color: rgba(#000, .03);
  position: absolute;
  top: -85px;
  left: 0;
  margin: 0 auto;
  font-weight: 700;
  display: block;
  width: 100%;
  @media only screen and (max-width: 1024px) {
    font-size: 88px;
    line-height: 132px;
    white-space: nowrap;
    overflow: hidden;
    top: -67px;
  }
}

.heading-light {
  font-size: 42px;
  font-weight: 300;
  line-height: 63px;
  letter-spacing: -1.7px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -10px;
  margin-bottom: 0;
}

.heading-table {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: $primary;
  font-family: 'Barlow';
}

.heading-modal {
  font-size: 36px!important;
  font-weight: 500!important;
  line-height: 43px!important;
  letter-spacing: -0.7px!important;
  font-family: 'Barlow'!important;
  @media only screen and (max-width: 1024px) {
    font-size: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.heading-submodal {
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.5px;
  font-family: 'Barlow';
  color: rgba(0, 0, 0, 0.75);
}

.paragraph--big {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  word-break: break-all;
}
