footer {
  margin-top: 100px;
  padding-bottom: 44px;
  section {
    @include flex(row, space-between, center);
    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  ul {
    @include flex(row, center, center);
    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
    li {
      @include flex(row, center, center);
      margin-right: 44px;
      height: 56px;
      padding: 24px 0;
      @media only screen and (max-width: 1024px) {
        padding: 12px 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      a {
        @include flex(row, center, center);
        height: 100%;
      }
    }
  }
  nav {
    margin-left: auto;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    ul {
      a {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Poppins';
        color: rgba(#000, .54);
        &:hover {
          color: $primary;
        }
      }
    }
  }
  p {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Barlow';
    line-height: 14px;
    color: rgba(112, 112, 112, 0.75);
    padding: 12px 0;
    @media only screen and (max-width: 1024px) {
      padding: 12px 20px;
    }
    &.center {
      margin: 12px auto;
    }
    a {
      color: rgba(112, 112, 112, 0.75);
      text-decoration: underline;
      &:hover {
        color: $primary;
      }
    }
  }
  .socials {
    margin-left: auto;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    li {
      margin-right: 10px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
