body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  p {
    font-family: 'Barlow';
  }
  a {
    transition: all .2s ease;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.center {
  text-align: center!important;
}

.left {
  text-align: left!important;
}

.right {
  text-align: right!important;
}

.flex {
  @include flex(row, flex-start, flex-start);
  &--vcenter {
    align-items: center;
  }
  &--spaced {
    justify-content: space-between;
  }
  &--vend {
    align-items: flex-end;
    @media only screen and (max-width: 1024px) {
      flex-direction: row!important;
      flex-wrap: wrap;
    }
  }
  &--mobile {
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.primary-text {
  color: $primary;
}

.push-2 {
  padding-left: 70px;
  @media only screen and (max-width: 768px) {
    padding-left: 0;
  }
}

.green-text {
  color: $green!important;
}

.red-text {
  color: $red!important;
}

.purple-text {
  color: $purple!important;
}

.grey-bg {
  background-color: $grey!important;
}

.border-bottom {
  border-bottom: 1px solid rgba($border, .1);
}

.back {
  @include flex(row, center, center);
  display: inline-flex;
  position: relative;
  z-index: 1;
  width: 52px;
  height: 52px;
  min-width: 52px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin-right: 20px;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.16);
  }
  img {
    width: 21px;
    height: 13px;
  }
}

.mr-auto {
  margin-right: auto;
  margin-left: 10px;
}

.ml-auto {
  margin-left: auto;
  margin-right: 10px;
}

.ml-0 {
  margin-left: 0;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-1 {
  margin-top: .5em!important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.small-text {
  font-size: 12px!important;
  line-height: 14px!important;
  font-family: 'Barlow'!important;
  color: rgba(0, 0, 0, 0.32)!important;
}