.grid-block {
  max-width: 390px;
  margin: 0 auto;
  text-align: left;
  &--small {
    max-width: 300px;
    @media only screen and (max-width: 1024px) {
      padding-bottom: 20px;
    }
  }
  &--xsmall {
    max-width: 190px;
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
    }
  }
  &__section {
    @include flex(column, flex-start, initial);
    margin: 20px 0;
    @media only screen and (max-width: 1024px) {
      flex-direction: column!important;
    }
  }
  &__half {
    width: calc(50% - 8px)!important;
    @media only screen and (max-width: 1024px) {
      width: 100% !important;
      margin: 20px 0!important;
    }
  }
  &__third {
    width: 33.3333%!important;
    max-width: 110px;
    @media only screen and (max-width: 1024px) {
      width: calc(50% - 4px)!important;
      max-width: 50%;
      margin: 10px 0!important;
    }
  }
  a, input, ul, div {
    width: 100%;
    box-sizing: border-box;
  }
  label, p {
    margin: 0;
  }
  .heading--small {
    margin: 0 0 6px 0;
  }
  .button {
    margin-top: 20px;
    @media only screen and (max-width: 1024px) {
      margin: 20px auto;
      width: 100%;
      box-sizing: border-box;
      max-width: 100%;
    }
  }
}