header {
  @include flex(row, flex-end, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 10;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));

  .logo {
    position: absolute;
    top: 14px;
    left: 24px;
    z-index: 1;

    &-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 92px;
      height: 190px;
      z-index: 1;
    }

    img {
      width: 140px;
      height: 48px;
      transition: all .2s ease;

      &:hover {
        filter: brightness(80%);
      }
    }
  }

  .nav {
    @include flex(row, flex-end, center);
    text-transform: uppercase;
    margin-top: -6px;
    padding-right: 20px;

    @media only screen and (max-width: 1024px) {
      display: none;
      text-align: center;
    }

    &--item {
      opacity: .5;
      color: #fff;
      margin-right: 50px;
      font-weight: 700;

      &:hover {
        opacity: 1;
      }
    }

    .button {
      margin-right: 6px;
    }

    .user {
      margin-left: 34px;
      margin-top: 8px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .select {
    margin-left: 34px;
    position: relative;

    span {
      @include flex(row, flex-start, center);

      img {
        width: 12px;
        margin-left: 8px;
        margin-top: 2px;
      }
    }

    ul {
      position: absolute;
      width: 140px;
      top: 40px;
      right: 20px;
      border-radius: 6px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.24);
      background-color: rgb(255, 255, 255);
      visibility: hidden;
      opacity: 0;

      li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 20px;
        box-sizing: border-box;
        transition: all .2s ease;

        &:last-of-type {
          border-bottom: 0;
        }

        b {
          display: block;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.75);
        }

        span {
          font-size: 12px;
          line-height: 16px;
          color: rgba(0, 0, 0, 0.54);
          font-family: 'Barlow';
          text-transform: none;
        }
      }
    }
  }

  .nav-toggle {
    display: none;
    width: 18px;
    height: 12px;
    position: absolute;
    top: 18px;
    right: 26px;

    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }

  .nav-mobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #4c3b91;
    top: 0;
    left: 0;

    &__list {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      padding-top: 80px;

      li {
        width: 100%;
        height: 54px;
        border-top: 1px solid rgba(#fff, .1);

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding-left: 40px;
          font-family: Poppins;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    &__actions {
      @include flex(row, space-between, center);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-color: #fff;

      ul {
        @include flex(row, flex-start, center);
        padding-left: 20px;

        li {
          margin-right: 20px;

          a {
            display: flex;
          }
        }

        img {
          width: 24px;
          height: 24px;
        }
      }

      .select {
        margin-left: 0;
        margin-right: 20px;

        span {
          color: #4c3b91;
          opacity: 1;
          margin-right: 0;
        }
      }
    }

    &__copyrights {
      font-family: Barlow;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      padding: 0 20px;
      position: absolute;
      bottom: 80px;
      left: 0;
      color: rgba(255, 255, 255, 0.54);
    }

    @media only screen and (max-width: 1024px) {
      // @include flex(column, flex-start, flex-start)
    }
  }
}
