.helpdesk {
  padding-bottom: 60px;
  &__body {
    max-width: 664px;
    margin: 0 auto;
    width: 100%;
  }
  main {
    padding-top: 100px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    nav {
      position: relative;
      z-index: 1;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 86px;
      background-color: rgba(#604ab5, .87);
    }
  }
  .relative {
    width: 100%;
  }
  .heading {
    text-align: center;
    font-size: 44px;
  }
  .heading-bg {
    text-align: center;
    top: -10px;
    left: 0;
  }
  .heading-submodal {
    color: $purple;
    font-family: 'Poppins';
    line-height: 39px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0;
  }
  a {
    max-width: 320px;
  }
}
