.homepage {
  &-intro {
    @include flex(column, center, center);
    background-image: url('../img/homepage_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin-bottom: 80px;
    .heading {
      color: #fff;
      margin: 20vh 0 0 0;
      @media only screen and (max-width: 1024px) {
        text-align: center;
      }
      &-lite {
        color: rgba(#fff, .75);
        margin: 0;
      }
    }
    .button-group {
      @include flex(row, center, center);
      margin: 36px 0 88px;
      @media only screen and (max-width: 1024px)  {
        flex-direction: column;
      }
      a {
        @include flex(row, center, center);
        min-width: 210px;
        height: 42px;
        margin: 0 5px;
        position: relative;
        @media only screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
        img {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
        }
      }
    }
    p {
      color: rgba(#fff, .75);
      opacity: .66;
      font-family: 'Roboto Condensed', sans-serif;
      @media only screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 14px;
      }
    }
    ul {
      @include flex(row, center, center);
      @media only screen and (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 60px;
      }
      margin-top: 20px;
      li {
        margin: 0 26px;
        width: 66px;
        text-align: center;
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 25%;
        }
        img {
          max-width: 100%;
          max-height: 36px;
          height: auto;
          width: auto;
          object-fit: contain;
          object-position: center;
          @media only screen and (max-width: 1024px) {
            max-height: 26px;
          }
        }
      }
    }
  }
}
