label {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  color: rgba(#000, .75);
  margin: 12px 0 16px;
  display: block;
  &.long {
    input[type=text], .input-section, textarea {
      width: 100%;
      min-width: 100%;
    }
  }
  &.upload {
    @include flex(column, center, center);
    padding: 32px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    border: 1px dashed rgba(#000, .2);
    cursor: pointer;
    img {
      width: 38px;
      height: auto;
    }
    .heading--small {
      margin: 12px 0;
    }
    input {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
    span {
      position: relative;
      padding: 0;
      max-width: 100%;
      height: auto;
    }
  }
  input[type=text], input[type=date], input[type=password], .input-section, textarea {
    border: 0;
    height: 42px;
    min-width: 180px;
    outline: none;
    padding: 0 0 0 16px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    transition: all .2s ease;
    color: rgba(#000, .75);
    font-family: 'Barlow';
    font-size: 18px;
    line-height: 22px;
    &:focus {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.24);
    }
    &::placeholder {
      font-family: 'Barlow';
      opacity: .5;
      font-size: 18px;
      line-height: 22px;
    }
    &:disabled {
      opacity: 0.6;
    }
  }
  a {
    display: block;
    text-align: right;
    font-family: 'Barlow';
    margin: 10px 0;
    font-size: 12px;
    line-height: 16px;
    color: rgba(#000, .32);
    &:hover {
      color: rgba(#000, .54);
    }
  }
  p {
    margin-top: 12px!important;
  }
  span {
    @include flex(row, center, center);
    font-family: 'Barlow';
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 42px;
    max-width: 42px;
    border-radius: 6px;
    padding: 0 12px;
    color: $primary;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    img {
      width: 100%;
      height: 50%;
      object-fit: contain;
      object-position: center;
    }
  }
}
.select {
  &--desktop {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
  &--mobile {
    display: none;
    position: absolute;
    top: 30px;
    right: 12px;
    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
}
.grid-block__section {
  position: relative;
}
