.notice {
  @include flex(row, flex-start, center);
  img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
  h4 {
    margin: 0;
  }
  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
  &--success {
    .heading--small {
      color: $green;
    }
  }
}