.payment {
  .container {
    justify-content: center !important;
    @media only screen and (max-width: 1024px) {
      padding: 0 20px 80px;
      box-sizing: border-box;
    }
  }

  .payment-info {
    border-radius: 6px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
    position: relative;
    width: calc(100% - 340px);
    max-width: 664px;
    box-sizing: border-box;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      z-index: 1;
      order: 2;
    }

    &--success {
      .payment-info__header {
        border-bottom: 0;
      }
      .payment-info__body {
        padding: 0;
      }
    }

    &__notice {
      background-color: rgba($green, .1);
      padding: 14px 44px;

      .heading-modal {
        margin-top: 0;
        margin-bottom: 4px;
      }

      p {
        margin-top: 0;

        b {
          font-weight: 500;
          color: rgba(#000, .75);
        }
      }
    }

    &__transaction {
      padding: 20px 44px;

      .heading--small {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: rgba(#000, .75);
      }

      .heading-modal {
        margin-top: 0;
        margin-bottom: 20px;
      }

      .paragraph--big {
        margin-top: 4px;
      }
    }

    &__header {
      position: relative;
      padding: 22px 42px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(#000, .1);
      @media only screen and (max-width: 1024px) {
        padding: 12px 24px;
      }

      .back {
        position: absolute;
        top: 30px;
        left: -26px;
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }

      h2 {
        margin: 0;
      }

      p {
        color: rgba(#000, .75);
        font-family: Barlow;
        font-size: 14px;
        line-height: 17px;
        margin-top: 4px;
        font-weight: 500;

        span {
          color: rgba(#000, .6);
          font-weight: 400;
        }
      }
    }

    &__body {
      padding: 22px 42px;
      @media only screen and (max-width: 1024px) {
        padding: 12px 24px;
        box-sizing: border-box;
      }

      &--waiting {
        .long {
          max-width: 380px;

          input {
            font-size: 16px;
          }
        }

        div {
          margin-top: 30px;
        }
      }

      .heading--small {
        margin-bottom: 6px;
      }

      h3 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 17px;
        color: $purple;
        margin-bottom: 8px;
      }

      p {
        color: rgba(0, 0, 0, 0.54);
        font-family: Barlow;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 24px;
      }

      input {
        font-family: Barlow;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        color: rgba(0, 0, 0, 0.75);
      }

      label {
        input {
          @media only screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
        span {
          right: -16px;
        }
      }

      a {
        max-width: 286px;
        height: 48px;
        margin: 20px auto 12px;
        @media only screen and (max-width: 1024px) {
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    &__footer {
      border-top: 1px solid rgba(#000, .1);
      position: relative;

      a {
        position: absolute;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        color: $primary;
        @media only screen and (max-width: 1024px) {
          position: relative;
          transform: translateY(0);
          left: 0;
        }
      }
    }
  }

  .payment-status {
    border-radius: 6px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 320px;
    box-sizing: border-box;
    margin-left: 20px;
    padding: 26px 30px;
    @media only screen and (max-width: 1024px) {
      margin-left: 0;
      width: 100%;
      margin-bottom: 40px;
      z-index: 9;
      margin-top: 40px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 90%;
      border-bottom: 16px dotted #e4e7ec;
      bottom: -8px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
    }

    &__total {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.75);
    }

    &__price {
      font-family: Barlow;
      font-size: 36px;
      font-weight: 500;
      line-height: 43px;
      letter-spacing: -0.7px;
      color: $primary;
    }

    &__section {
      border-bottom: 1px solid rgba(#000, .1);

      &:last-of-type {
        border-bottom: 0;
      }

      &.disabled {
        pointer-events: none;
        opacity: .5;
      }

      .switcher {
        p {
          margin-bottom: 0;
        }
      }

      &.flex {
        justify-content: space-between;
        margin: 12px 0;

        p {
          margin: 0;
        }
      }

      .listed {
        font-family: Barlow;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
        display: flex;

        span {
          display: inline-block;
          margin-left: auto;
          margin-right: 0;
          color: rgba(0, 0, 0, 0.75);
          font-weight: 500;
        }
      }

      h4 {
        margin: 4px 0;
      }
    }

    .heading-submodal {
      margin-top: 0;
    }
  }
}