.redeem {
  background-color: $bg;
  @media only screen and (max-width: 1024px) {
    padding-bottom: 60px;
  }
  header {
    background-image: none;
    position: relative;
    .logo-bg {
      left: -12px;
    }
  }
  main {
    max-width: 1000px;
    margin: 0 auto;
    @media only screen and (max-width: 768px) {
      padding: 0 20px;
      overflow: hidden;
    }
  }
  .heading {
    font-size: 56px;
    line-height: 85px;
    letter-spacing: -2.2px;
    margin-bottom: 2px;
    @media only screen and (max-width: 1024px) {
      font-size: 44px;
      line-height: 50px;
    }
  }
  .heading-bg {
    top: -26px;
    left: -5px;
    white-space: nowrap;
  }
  .grid-block {
    margin-top: 45px;
    @media only screen and (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }
  .back {
    margin-top: 36px;
  }
  .grid-block--xsmall {
    max-width: 260px;
    margin-right: 40px;
    margin-left: 0;
    padding-left: 140px;
    @media only screen and (max-width: 1024px) {
      padding-left: 0;
      max-width: 100%;
      margin-right: 0;
    }
  }
  .grid-block--big {
    min-width: 410px;
    @media only screen and (max-width: 1024px) {
      min-width: 100%;
    }
  }
  .buy-directly {
    li {
      flex-direction: column;
      padding: 12px;
      height: 78px;
      width: 70px;
      box-sizing: border-box;
      background-color: transparent;
      &:hover {
        background-color: #fff;
        svg {
          fill: $purple;
        }
      }
      img {
        max-width: 38px;
        max-height: 38px;
        object-fit: contain;
        object-position: center;
        filter: brightness(70%);
      }
      svg {
        fill: #b2b2b2;
        transition: all .2s ease;
      }
      span {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        font-family: 'Roboto Condensed';
        color: rgba(0, 0, 0, 0.32);
        margin-top: 8px;
      }
    }
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: rgba(#000, .54);
    font-family: 'Barlow';
    max-width: 664px;
  }
}
