.section {
  margin-bottom: 112px;
  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }
  p {
    color: rgba(#000, .54);
    margin-top: -28px;
    @media only screen and (max-width: 1024px) {
      text-align: left!important;
      margin-top: -18px;
    }
  }
  iframe {
    margin: 24px 0;
    @media only screen and (max-width: 1024px) {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
  }
}
