.select {
  max-width: 54px;
  cursor: auto;
  &__container {
    @include flex(row, center, center);
    overflow: hidden;
    height: 24px;
    width: 64px;
    select {
      height: 26px;
      opacity: 0.5;
      font-family: 'Barlow';
      font-size: 18px;
      line-height: 22px;
    }
  }
}