.standings {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 44px;
  box-shadow: 0 0 4px 0 rgba(#000, 0.12);
  background-color: #fff;
  overflow: hidden;
  ul {
    @include flex(row, flex-start, center);
    height: 100%;
    li {
      @include flex(row, flex-start, center);
      border-right: 1px solid rgba(#707070, .1);
      margin-right: 8px;
      padding-right: 18px;
      min-width: 136px;
      img {
        margin-right: 8px;
        width: 16px;
        height: auto;
      }
      div {
        @include flex(row, flex-start, flex-start);
        font-family: 'Roboto Condensed';
        p {
          margin-right: 8px;
          color: rgba(0, 0, 0, 0.54);
          &:last-of-type {
            margin-right: 0;
            text-align: right;
          }
          b {
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
          }
          span {
            font-size: 10px;
            line-height: 11px;
            color: rgba(#000, 0.32);
            display: block;
          }
        }
      }
    }
  }
}
