.switcher {
  @include flex(row, flex-start, center);

  div {
    h4 {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.75);
      margin-bottom: 2px !important;
    }

    p {
      font-family: Barlow;
      font-size: 12px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.54);
      margin-top: 0 !important;
    }
  }
}

/* The switch - the box around the slider */
.switcher__container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switcher__container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}